/* Estilos para la tarjeta */
.tarjeta {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 10px;
}

.tarjeta-imagen {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 4px;
	margin-right: 10px;
}

.tarjeta-contenido {
	flex: 1;
}

.tarjeta-titulo {
	margin: 0;
}

.tarjeta-descripcion {
	margin: 0;
	margin-bottom: 10px;
}

.tarjeta-precio {
	margin: 0;
	font-weight: bold;
}

.boton-agregar {
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 2x;
	margin-left: 2px;
}

.boton-agregar:hover {
	background-color: #45a049;
}
.boton-quitar {
	background-color: #af4c4c;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin: 2px;
}

.boton-quitar:hover {
	background-color: #a04545;
}

/* Estilos para el carrito */
.carrito {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.dashboard-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  background-color: white;
  padding: 1rem;
  height: 100%;
  margin-bottom: 1rem;
}